@model SGMS.Models.Match

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchId" />
            <div class="form-group">
                <label asp-for="FirstTeamId" class="control-label"></label>
                <input asp-for="FirstTeamId" class="form-control" />
                <span asp-validation-for="FirstTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondTeamId" class="control-label"></label>
                <input asp-for="SecondTeamId" class="form-control" />
                <span asp-validation-for="SecondTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefereeId" class="control-label"></label>
                <input asp-for="RefereeId" class="form-control" />
                <span asp-validation-for="RefereeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score1" class="control-label"></label>
                <input asp-for="Score1" class="form-control" />
                <span asp-validation-for="Score1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score2" class="control-label"></label>
                <input asp-for="Score2" class="form-control" />
                <span asp-validation-for="Score2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDay" class="control-label"></label>
                <input asp-for="GameDay" class="form-control" />
                <span asp-validation-for="GameDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

